bin/ 
obj/ 
.vs/ 
node_modules/ 
dist/ 
build/ 
*.log 
.env 
appsettings.Development.json 
bin/Debug/ 
bin/Release/ 
publish/ 
wwwroot/uploads/ 
wwwroot/certificates/
Logs/
LMS_FRONT/
Migrations/
wwwroot/
